<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kirtland Artist Guild</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kirtland_Artist_Guild.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-H13xV37CgDJ8jFQnCgzoP/z7nkKgU/G8YjWz0tT+L7Vp9ZkJ1io7VItcH0jK7Vg24lJgb0t2KjIH/R/veI2X9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div @*class="slider-container"*@>
            @*<img class="slider-image" src="/media/Art1.jpg" alt="Slider Image">
            <img class="slider-image" src="/media/Art2.jpg" alt="Slider Image">*@
            <img class="header_img" src="/media/webpage media illustration.jpg" alt="Slider Image">
         </div>
 <a class="KAG text-decoration-none text-reset" asp-area="" asp-controller="Home" asp-action="Index">
            <h1 class="KAG_title text-warning">Kirtland Artist Guild</h1>
</a>
        <div class="container-fluid border-bottom border-top border-warning box-shadow w-100">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
               @* <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">Kirtland Artist Guild</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between  ">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Artistic_Style">Artistic Style</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Artists">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="About_Us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Exhibitions">Exhibitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Art" asp-action="Index">Test Art</a>
                        </li>
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
        </nav>
       </div>
    </header>
	<div class="container-fluid text-warning mt-3">
        <main role="main" class="pb-3 "> 
            @RenderBody()
        </main>
    </div>
    @*Footer w/ social media link placeholders*@
    <footer class="border-top border-warning footer text-muted">
        <div class="container">            
            <div class="jumbotron text-center" style="margin-bottom:0">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                </ul>
                &copy; 2023 - Kirtland Artist Guild 
                <br />Backend: 
                <a asp-area="" asp-controller="Art" asp-action="Index">Art</a> -
                <a asp-area="" asp-controller="ArtColor" asp-action="Index">ArtColor</a> -
                <a asp-area="" asp-controller="ArtMedium" asp-action="Index">ArtMedium</a> -
                <a asp-area="" asp-controller="ArtStyle" asp-action="Index">ArtStyle</a> -
                <a asp-area="" asp-controller="ArtImage" asp-action="Index">ArtImage</a> -
                <a asp-area="" asp-controller="ArtColorLink" asp-action="Index">ArtColorLink</a> -
                <a asp-area="" asp-controller="ArtMediumLink" asp-action="Index">ArtMediumLink</a> -
                <a asp-area="" asp-controller="ArtStyleLink" asp-action="Index">ArtStyleLink</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</>
