@{
    var current = ViewContext.RouteData.Values["area"]?.ToString() ?? ViewContext.RouteData.Values["controller"]!.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kirtland Artist Guild</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    @RenderSection("styles", required: false);
</head>
<body>
    <header>
        <div> 
            <img class="header_img" src="/media/webpage media illustration.jpg" alt="Slider Image" onContextMenu="return false;">
        </div>
        <div class="text-center">
            <a class="KAG text-decoration-none text-reset" asp-area="" asp-controller="Home" asp-action="Index">
                <h1 class="KAG_title text-warning d-inline-block">Kirtland Artist Guild</h1>
            </a>
        </div>
        <div class="container-fluid border-bottom border-top border-warning box-shadow w-100">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-warning fs-.25" asp-area="" asp-controller="Home" asp-action="Artistic_Style">Art</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fs-.25" asp-area="" asp-controller="Home" asp-action="Artists">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fs-.25" asp-area="" asp-controller="Home" asp-action="About_Us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fs-.25" asp-area="" asp-controller="Home" asp-action="Exhibitions">Exhibitions</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
	<div class="container-fluid text-warning mt-3">
        <main role="main" class="pb-3 ">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>
    @*Footer w/ social media link placeholders*@
    <footer class="border-top border-warning footer text-muted">
        <div class="container">
            <div class="jumbotron text-center" style="margin-bottom:0">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/people/Kirtland-Artist-Guild/100092121711780/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" onclick="window.open('mailto:kirtlandartistguild@gmail.com'); return false;"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.instagram.com/kirtlandartistguild/"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <partial name="_LoginPartial" />

                <div style="margin-top: 15px;">&copy; 2023 - Kirtland Artist Guild</div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>