@model ChangeProfileViewModel
@{
    ViewBag.Title = "Change Profile";
}

<h2>Change Profile</h2>
<hr />
<form method="post" asp-action="ChangeProfile" id="form" onsubmit="handleSubmit()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" id="jdr" asp-for="bio" />
    <div class="row mb-2">
        <label asp-for="Username" class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control-plaintext text-warning" readonly />
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="firstName" class="col-form-label col-md-2">First Name:</label>
        <div class="col-md-4">
            <input asp-for="firstName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="firstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="lastName" class="col-form-label col-md-2">Last Name:</label>
        <div class="col-md-4">
            <input asp-for="lastName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="artistMedium" class="col-form-label col-md-2">Artist Medium:</label>
        <div class="col-md-4">
            <input asp-for="artistMedium" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="artistMedium" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="quote" class="col-form-label col-md-2">Quote:</label>
        <div class="col-md-4">
            <input asp-for="quote" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="quote" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="bio" class="col-form-label col-md-2">Bio:</label>
        <div class="col-md-4">
            <!-- <textarea asp-for="bio" class="form-control" rows="10" type="text"></textarea> -->
            <div id="bio" style="min-height: 200px;">
                @if (Model.bio != null)
                {
                    @Html.Raw(Model.bio)
                }
            </div>
        </div>
        <div class="col">
            <span asp-validation-for="bio" class="text-danger"></span>
        </div>
    </div>
    <br/><br/>
    <div class="row mb-2">
        <label asp-for="email" class="col-form-label col-md-2">Email:</label>
        <div class="col-md-4">
            <input asp-for="email" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="website" class="col-form-label col-md-2">Website:</label>
        <div class="col-md-4">
            <input asp-for="website" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="website" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="paypal" class="col-form-label col-md-2">Paypal:</label>
        <div class="col-md-4">
            <input asp-for="paypal" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="paypal" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="backgroundColor" class="col-form-label col-md-2">Background Color:</label>
        <div class="col-md-4">
            <input asp-for="backgroundColor" class="form-control" type="text" id="background" data-coloris /> <button type="button" onclick="backgroundColorDefault()" class="btn btn-sm btn-outline-secondary">Default</button>
        </div>
        <div class="col">
            <span asp-validation-for="backgroundColor" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="fontColor" class="col-form-label col-md-2">Font Color:</label>
        <div class="col-md-4">
            <input asp-for="fontColor" class="form-control" type="text" id="font" data-coloris /> <button type="button" onclick="fontColorDefault()" class="btn btn-sm btn-outline-secondary">Default</button>
        </div>
        <div class="col">
            <span asp-validation-for="fontColor" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Change</button>
            <a asp-action="Index" asp-controller="Account" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>
@section styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css" />

    <!-- Include the Quill stylesheet, customize toolbar color -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .ql-toolbar .ql-stroke {
            fill: none;
            stroke: #fff;
        }

        .ql-toolbar .ql-fill {
            fill: #fff;
            stroke: none;
        }

        .ql-toolbar .ql-picker-label {
            color: #fff;
        }
    </style>
}
@section scripts {
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script>
        function backgroundColorDefault() {
            document.getElementById("background").value = "#262626";
            document.querySelector('#background').dispatchEvent(new Event('input', { bubbles: true }));
        }
        function fontColorDefault() {
            document.getElementById("font").value = "#FFC107";
            document.querySelector('#font').dispatchEvent(new Event('input', { bubbles: true }));
        }  
    </script>

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor, customize toolbar -->
    <script>
        var toolbarOptions = [
            [{ header: [1, 2, 3, false] }],
            ["bold", "italic", "underline", "link"],
            [{ color: [] }, { background: [] }],
            [{ list: "ordered" }, { list: "bullet" }],
            ["clean"],
        ];
        var quill = new Quill('#bio', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
        function handleSubmit() {
            document.getElementById('jdr').value = quill.root.innerHTML;
        };
    </script>
}