@model ChangeProfileViewModel
@{
    ViewBag.Title = "Change Profile";
}

<h2>Change Profile</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="ChangeProfile">
    <div class="row mb-2">
        <label asp-for="Username" class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control-plaintext text-warning" readonly />
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="firstName" class="col-form-label col-md-2">First Name:</label>
        <div class="col-md-4">
            <input asp-for="firstName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="firstName" class="text-danger"></span>
        </div>
    </div>
        <div class="row mb-2">
        <label asp-for="lastName" class="col-form-label col-md-2">Last Name:</label>
        <div class="col-md-4">
            <input asp-for="lastName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="artistMedium" class="col-form-label col-md-2">Artist Medium:</label>
        <div class="col-md-4">
            <input asp-for="artistMedium" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="artistMedium" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="quote" class="col-form-label col-md-2">Quote:</label>
        <div class="col-md-4">
            <input asp-for="quote" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="quote" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label asp-for="bio" class="col-form-label col-md-2">Bio:</label>
        <div class="col-md-4">
            <textarea asp-for="bio" class="form-control" rows="10" type="text"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="bio" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Change</button>
            <a asp-action="Index" asp-controller="Account" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>