@model Kirtland_Artist_Guild.Models.ArtistImageViewModel

@{
    ViewData["Title"] = "Upload Profile Photo";
}

<h1>Upload Profile Photo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label>Choose Image:</label>
            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="ArtistImage" class="custom-file-input" id="customFile"
                           accept=".png,.jpg,.jpeg" data-val="true" data-val-accept="Invalid file type. Please select a PNG, JPG, or JPEG file.">
                    <label class="custom-file-label" for="customFile">Choose image</label>
                </div>
                <span asp-validation-for="ArtistImage" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Upload" class="btn btn-primary" /> |
                <a asp-action="ProfileImageIndex" class="btn btn-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        // Add client-side validation for file type
        $.validator.addMethod("accept", function (value, element, param) {
            // Split the accepted file types into an array
            var acceptedTypes = param.split(",");
            // Get the file extension of the selected file
            var extension = value.split('.').pop().toLowerCase();
            // Check if the file extension is in the accepted file types
            return ($.inArray(extension, acceptedTypes) !== -1);
        }, "Invalid file type. Please select a PNG, JPG, or JPEG file.");

        // Enable client-side validation on the form
        $("form").validate({
            rules: {
                ArtistImage: {
                    accept: "png,jpg,jpeg"
                }
            }
        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}