@model Kirtland_Artist_Guild.Models.ArtistImage

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-8">
            <img src="@(@Model.Source + @Model.FileName)" class="img-fluid border border-1 border-warning" style="max-height: 400px">
        </dt>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        
        <a asp-action="ProfileImageIndex" class="btn btn-secondary">Back to List</a>
       
    </form>
</div>
