@{
    ViewData["Title"] = "Manage Account";
}

<h1 class="mb-2">Manage Account</h1>
<hr />

<h5 class="mt-2"><a asp-action="ChangePassword" class="btn btn-secondary">Change password</a></h5>

<h5 class="mt-2"><a asp-action="ChangeProfile" class="btn btn-secondary">Change profile</a></h5>

<h5 class="mt-2"><a asp-action="ProfileImageIndex" class="btn btn-secondary">Profile photos</a></h5>