@{
    ViewData["Title"] = "Manage Account";
}

<h1 class="mb-2">Manage Acount</h1>

<h5 class="mt-2"><a asp-action="ChangePassword">Change password</a></h5>

<h5 class="mt-2"><a asp-action="ChangeProfile">Change profile</a></h5>