@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <h4>What is Kirtland Artist's Guild?</h4>
</div>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-6">
            <p>
                The mission of the Kirtland Artist Guild is to strengthen, improve and promote the artistic,
                professional and economic success of Kirtland Community College artists who have taught
                or attended courses throughout the years. We are committed to integrity, creativity, and the
                pursuit of excellence as we assist in the marketing and sales for our artists to reach a wider
                range of audience.
            </p>
        </div>
         <div class="col-md-5 me-1">
            <img src="~/media/IMG_6661_2.JPG" alt="" class="img-fluid border border-1 border-warning">
            <p>Kirtland Artist Guild 2023</p>
        </div>
    </div>
</div>