@{
    ViewData["Title"] = "About us";
}

<div>
    <div class="container py-2">
        <div class="text-center">
            <h1 class="display-4">About us</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="text-center">
                    <h4 class="text-warning">What is Kirtland Artist's Guild?</h4>
                </div>
                <p class="lead">
                    The mission of the Kirtland Artist Guild is to strengthen, improve and promote the artistic,
                    professional and economic success of Kirtland Community College artists who have taught
                    or attended courses throughout the years. We are committed to integrity, creativity, and the
                    pursuit of excellence as we assist in the marketing and sales for our artists to reach a wider
                    range of audience.
                </p>
            </div>

            <div class="col-md-5 ms-auto">
                <img src="/media/Studio_Image_2.jpg" alt="" class="img-fluid rounded border border-2 border-warning mb-3 w-200" onContextMenu="return false;">
                <p class="text-center text-muted">Kirtland Artist Guild 2023</p>
            </div>
        </div>
    </div>
</div>