@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <h4>What is Kirtland Artist's Guild?</h4>
</div>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-6">
            <p>The Kirtland Artist Guild is a collection of the past and present students of the Kirtland Colleges art program.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-5 me-1">
            <img src="/media/turtle.jpg" alt="" class="img-fluid border border-1 border-warning">
            <p>Kirtland Artist Guild 2023</p>
        </div>
    </div>
</div>