@{
    ViewData["Title"] = "Artists";
}

<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p></p>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">  
        <div class="col">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="ExampleArtist">
                    <img src="/media/duck.jpg" alt="" class="img-fluid border border-1 border-warning">
                </a>
                <div>
                    <p class="fw-bold mt-1">Gaye Lee</p>
                    <p class="fst-italic">Drawing, Painting, Mixed Media & Prints</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="ExampleArtist2">
                    <img src="/media/dandelion.jpg" alt="" class="img-fluid border border-1 border-warning">
                </a>
                <div>
                    <p class="fw-bold mt-1">Brenda Mikula</p>
                    <p class="fst-italic">Watercolor Artist</p>
                </div>
            </div>
        </div>
    </div>
</div>
