@{
    ViewData["Title"] = "Artistic style";
}

<div class="text-center">
    <h1 class="display-4">Artistic style</h1>
    <p></p>
</div>

<div class="dropdown">@*This holds all three dropdown filters*@
    
    @*Button 1 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter By Medium
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Oils</a></li>
        <li><a class="dropdown-item" href="#">Watercolor</a></li>
        <li><a class="dropdown-item" href="#">Graphite</a></li>
        <li><a class="dropdown-item" href="#">Sculptures</a></li>
        <li><a class="dropdown-item" href="#">Photography</a></li>
        <li><a class="dropdown-item" href="#">Colored Pencil</a></li>
        <li><a class="dropdown-item" href="#">Mixed Media</a></li>
    </ul>
    @*Button 1 ends*@

    @*Button 2 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Color
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Black and White</a></li>
        <li><a class="dropdown-item" href="#">Bright Colors</a></li>
        <li><a class="dropdown-item" href="#">Pastels</a></li>
        <li><a class="dropdown-item" href="#">Cool Tones</a></li>
        <li><a class="dropdown-item" href="#">Warm Tones</a></li>
    </ul>
    @*Button 2 ends*@

    @*Button 3 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter By Style
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Realism</a></li>
        <li><a class="dropdown-item" href="#">Abstract</a></li>
        <li><a class="dropdown-item" href="#">Impressionism</a></li>
        <li><a class="dropdown-item" href="#">Conceptual Illustration</a></li>
        <li><a class="dropdown-item" href="#">Expression</a></li>
        <li><a class="dropdown-item" href="#">Digital</a></li>
        <li><a class="dropdown-item" href="#">Still Life</a></li>
        <li><a class="dropdown-item" href="#">Floral</a></li>
        <li><a class="dropdown-item" href="#">Landscape</a></li>
    </ul>
    @*Button 3 ends*@

</div>