@model Kirtland_Artist_Guild.Models.ArtisticStyleViewModel
@{
    ViewData["Title"] = "Artistic Style";
}

<div class="text-center">
    <h1 class="display-4">Artistic Style</h1>
    <p></p>
</div>

<div class="dropdown">@*This holds all three dropdown filters*@
    
    @*Button 1 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter By Medium
    </a>
    <ul class="dropdown-menu">
        @foreach(var artmedium in Model.ArtMediums)
        {
            <li><a class="dropdown-item" href="#">@artmedium.Name</a></li>
        }
    </ul>
    @*Button 1 ends*@

    @*Button 2 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Color
    </a>
    <ul class="dropdown-menu">
        @foreach (var artcolor in Model.ArtColors)
        {
            <li><a class="dropdown-item" href="#">@artcolor.Name</a></li>
        }
    </ul>
    @*Button 2 ends*@

    @*Button 3 begins*@
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter By Style
    </a>
    <ul class="dropdown-menu">
        @foreach (var artstyle in Model.ArtStyles)
        {
            <li><a class="dropdown-item" href="#">@artstyle.Name</a></li>
        }
    </ul>
    @*Button 3 ends*@

</div>