@model Kirtland_Artist_Guild.Models.ArtisticStyleViewModel
@{
    ViewData["Title"] = "ExampleArtist";
}

<h1 class="KAG_title text-warning">GAYE LEE</h1>
<h4 class="text-center">Drawing, Painting, Mixed Media & Prints</h4>


<div class="container py-2 mt-5">
    <div class="row ms-auto">
        <div class="col-sm-5">
            <div class="card bg-transparent">
                <div class="card-body">
                    <img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card bg-transparent">
                <div class="card-body">
                    <p>
                        I have been blessed with many passions in my life, Art being one of them.  
                        It is so magical to be able to create a piece of art and watch it change and grow until your new creation is born.
                        <br />
                        <br />
                        I love vibrant colors that I can create with watercolor or colored pencil and the deep rich color that only oils can give me.  
                        However, conceiving a picture in graphite and watching it come alive is equally exciting!  
                        Mixed media has also become a favorite of mine because I can create so many layers of texture.
                        <br />
                        <br />
                        When creating realism, exploring the material in the piece that I am creating is vitally important to me, 
                        whether it is a beautiful wood duck and its habitat, a weed in a field or reflections in the water, I want to see it and study it.  
                        My love for horses and dancing is apparent in much of my subject matter choices.  
                        I am inspired by both dancers and horses, their beauty, their grace and their sheer strength.  
                        To be able to create that in my art and make people feel their emotions and movements is all that I could ask for.
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="text-center mt-3">“I am grateful for Art, for through its creation, I have discovered a new appreciation of our world and its infinite beauty”</h2>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-2">
            <img src="/media/uploads/Frost on a Dahlia.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Grandpas Lake.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Mackinac horses Peters.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Wedding Dress.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Wind Dancer.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
    </div>
</div>