
@{
    ViewData["Title"] = "ExampleArtist2";
}


<h1 class="KAG_title text-warning">Brenda Mikula</h1>
<h4 class="text-center">Watercolor Artist</h4>

<div class="container py-2 mt-5">
    <div class="row ms-auto">
        <div class="col-sm-5">
            <div class="card bg-transparent">
                <div class="card-body">
                    <img src="/media/dandelion.jpg" alt="Image" class="img-fluid border border-warning">
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card bg-transparent">
                <div class="card-body">
                    <p>
                        After a 30 year career in public service, I am now beginning to turn my passion of art into my second career.
                        Within each new work of art, as I continue to learn about the properties of watercolor, I also learn about myself.
                        I am fascinated each time I find my likes and dislikes, colors that speak to me, 
                        and how something so easily overlooked can become the most beautiful thing in the world. 
                        <br />
                        <br />
                        I continue to expand my artistry by incorporating new techniques, styles, 
                        and mixed media as I develop my personal view of representationalism and realism.
                        <br />
                        <br />
                        My art is based on my love of nature and my passion for color.  
                        I want to show the viewer how I see the world and the beauty of the subjects I paint.  
                        Hopefully, my art speaks to you just as nature speaks to me, 
                        and that my pieces brighten your day even if for a moment.
                        <br />
                        <br />
                        Facebook:  BrendaMikula
                        <br />
                        email:  mikulabrenda@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="text-center mt-3">“A good life is a collection of happy moments.”</h2>
