@model ArtImage




<div>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
   @* @if (imagePath != "")
    {
        <div class="result">
            <img src="@imagePath" alt="image" />

        </div>
    }*@
</div>
