@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="image-fluid w-50"  src="/media/quote.jpg" alt="Quote">
        </div>
    </div>
</div>