@{
    ViewData["Title"] = "Home Page";
}
<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
            border: 20px solid black;
        }

        body {
            background-color: #262626;
        }

        .col-sm-8.offset-md-2 h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-md-2">
                <h2>Cool Art!</h2>
                <div class="fakeimg">Fake Image</div>
                <p>
                    "Art is not what you see, but what you make others see."<br>
                    ~Edgar Degas
                </p>
                <br>
            </div>
        </div>
    </div>

</body>
</html>

