@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="image-fluid w-50 h-auto mx-auto d-none d-sm-block" src="/media/quote.jpg" alt="Quote" onContextMenu="return false;">
            <img class="image-fluid w-100 h-auto mx-auto d-block d-sm-none" src="/media/quote.jpg" alt="Quote" onContextMenu="return false;">
        </div>
    </div>
</div>