@{
    ViewData["Title"] = "Home Page";
}
<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="image-fluid w-50"  src="/media/quote.jpg" alt="Quote">
            </div>
        </div>
    </div>
</body>
</html>

