@{
    ViewData["Title"] = "Home Page";
}
<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>KIRTLAND ARTIST GUILD</p>
</div>
<p>
    <a asp-area="" asp-controller="Home" asp-action="About_Us" class="btn">Test Button</a>
</p>