.image-container {
    position: relative;
}

.image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    visibility: hidden;
}

.image-container:hover .image-info {
    visibility: visible;
}

