.btn {
    font-size: 20px;
    padding: 4px 28px;
    border-radius: 4px;
    color: antiquewhite;
    background-color: blue;
    text-align: center;
    text-decoration: none;
}/*This is a colored button.*/


.quote_image {
    max-width: 50%;
}
