@model Kirtland_Artist_Guild.Models.ArtColor

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this Art Color?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
