@using Kirtland_Artist_Guild.Models

@model ArtImageViewModel

@{
    ViewData["Title"] = "Upload Art Image";
}

<h1>Upload Art Image</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ArtImageCreate" method="post" class="mt-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtID" />
            <div class="form-group">
                <label for="ArtImage">Choose Image:</label>
                <div class="custom-file">
                    <input asp-for="ArtImage" class="custom-file-input form-control-file" id="ArtImage"
                           accept=".png,.jpg,.jpeg" data-val="true">
                    @*<label class="custom-file-label" for="ArtImage">Choose image</label>*@
                </div>
                <span asp-validation-for="ArtImage" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Upload" class="btn btn-primary" /> |
                <a asp-action="Edit" asp-route-id="@ViewBag.art" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        // Add client-side validation for file type
        $.validator.addMethod("accept", function (value, element, param) {
            // Split the accepted file types into an array
            var acceptedTypes = param.split(",");
            // Get the file extension of the selected file
            var extension = value.split('.').pop().toLowerCase();
            // Check if the file extension is in the accepted file types
            return ($.inArray(extension, acceptedTypes) !== -1);
        }, "Invalid file type. Please select a PNG, JPG, or JPEG file.");

        // Enable client-side validation on the form
        $("form").validate({
            rules: {
                ArtImage: {
                    accept: "png,jpg,jpeg"
                }
            }
        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

