@model Kirtland_Artist_Guild.Models.Art

@{
    ViewData["Title"] = "Add Art";
}

<div class="container">
    <h1 class="KAG_title text-warning">Add Art</h1>
    <main role="main" class="pb-3 border border-warning" style="padding:10px; color:white;">
        <div style="margin-bottom:10px">
            <form asp-action="Create" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="6" type="text"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check mt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Available" /> @Html.DisplayNameFor(model => model.Available)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Create" class="btn btn-secondary" />
                    </div>
                </div>
            </form>

        </div>
    </main>
</div >
<br />
<div class="ms-2">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
